@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-indicator.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.loading-indicator.hide {
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.2s;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border-top: 4px solid #767676;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.player-main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
}

.player-card {
  width: 436px;
  height: 75vh;
  background-color: #212121;
  border-radius: 20px;
  -webkit-box-shadow: 13px 12px 40px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 12px 40px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 12px 40px -7px rgba(0, 0, 0, 0.75);
}

.control-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  gap: 9px;
}

.icons {
  box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -webkit-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -moz-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  border-radius: 50%;
}

.icons:hover {
  color: #1100ff !important;
  cursor: pointer;
}

.activeSong-name {
  color: white;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 1.3em;
}

.activeArtist-name {
  color: white;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 200px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.activeArtist-duration {
  color: white;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 230px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.image-container {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 158px;
  text-align: center;
  left: 45%;
  width: 74px;
  box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -webkit-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -moz-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
}

.icons-volume {
  box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -webkit-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -moz-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  border-radius: 50%;
}

.volume-control {
  box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -webkit-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -moz-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  border-radius: 50%;
}

.volume-control input[type="range"] {
  width: 100%;
  margin: 0 -2px;
  -webkit-appearance: none;
  background-color: #fefeff;
  border-radius: 10px;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1100ff;
  cursor: pointer;
}

.music-image {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0px 0px 56px -5px rgba(15, 15, 15, 0.75) inset;
  -webkit-box-shadow: 0px 0px 56px -5px rgba(15, 15, 15, 0.75) inset;
  -moz-box-shadow: 0px 0px 56px -5px rgba(15, 15, 15, 0.75) inset;
}

.audio-waveform {
  text-align: center;
  position: relative;
  top: 230px;
}

.song-timeline {
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: 88px;
  margin-right: -114px;
  margin-left: 54px;
}

.time-display {
  font-size: 14px;
  margin-right: -32px;
  color: white;
  width: 84px;
}

.song-range-slider {
  box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -webkit-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  -moz-box-shadow: 0px 0px 56px -5px rgba(25, 25, 252, 0.75);
  border-radius: 50%;
}

.song-range-slider input[type="range"] {
  width: 100%;
  margin: 0 -2px;
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 10px;
}

.song-range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .player-card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 13px 12px 40px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 12px 40px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 12px 40px -7px rgba(0, 0, 0, 0.75);
  }
  .audio-waveform {
    top: 49px;
  }
  #audio-canvas {
    display: block;
    margin: 0 auto;
    width: 319px;
    height: 110px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #353535;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}
